@import 'params';

@mixin orders($bp: '') {
  .order#{$bp}-first {
    order: -1;
  }

  .order#{$bp}-last {
    order: $columns_count + 1;
  }

  @for $span from 1 through $columns_count {
    .order#{$bp}-#{$span} {
      order: $span;
    }
  }
}